.clouds {
    background: url("svg/wi-cloud.svg") no-repeat;
    width: 100px;
    height: 50px;
}

.clear {
    background: url("svg/wi-day-sunny.svg") no-repeat;
    width: 100px;
    height: 50px;
}

